<header class="site-header">

  <div class="wrapper">
    <div class="header-text">
      <p class="clearfix"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></p>
      <p class="tagline"> {{ site.tagline }} </p>
    </div>
  </div>
<div class="menubar">
    <a href="#menu" class="menu-link">Menu</a>
    <nav id="menu" role="navigation">
      <ul>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
</div>
</header>
