---
layout: default
---

{{ page.bird }}

<p>To Do

<p>For each post that has this bird in its birds array

add its title and such to this page.

<p>Look at category page or tag page plugins to see how

<p>Another approach is to build a hash of arrays before building any of the bird pages

Remove everything below this line!


<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>



<div class="birdlist">

  <h3>Birds in this entry:</h3>

  {% if page.birds %}
    <div class="birdstring">
    {% assign birdies = page.birds | sort %}
    {{ birdies | array_to_sentence_string }}
    </div>
  {% endif %}
</div>


Better:

<div class="birdlist">

  <h3>Birds in this entry:</h3>

  {% if page.birds %}
    <div class="birdstring">
    {% for birdy in birdies %}
      {% if birdy != birdies.last %}
      	<a href="/birds/{{ birdy | downcase | replace: ' ', '-' }}.html">{{ birdy}}</a>,
      {% endif %} 
    {% endfor %}
    and <a href="/birds/{{ birdies.last | downcase | replace: ' ', '-' }}.html">{{ birdies.last}}</a>.
    </div>
  {% endif %}
</div>

<div class="birdlist">

  {% if page.lifelist %}
    <h3>Lifelist additions for this entry:</h3>
    <div class="birdstring">
    {% assign lifers = page.lifelist | sort %}
    {{ lifers | array_to_sentence_string }}
    </div>
  {% else %}
    <h3>No lifers today!</h3>
  {% endif %}

  <a href="/lifelist/">View my life list</a>
</div>


</div>
